# Ignore node_modules directory
node_modules/

# Ignore logs and runtime data
logs/
*.log
npm-debug.log*

# Ignore environment-specific files
.env
tfplan
# Ignore package-lock files
package-lock.json
.terraform.lock.hcl
*.tfstate
.terraform
